@using BulkyBook.Utility;
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Book Shop</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">

                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

					@if (User.IsInRole(SD.Role_Admin))
					{
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Content Managment</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
								<a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Class</a>
								<a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
							</div>
						</li>
					}

                    <li class="nav-item">
                        <a class=nav-link asp-area="Admin" asp-controller="Order" asp-action="Index">
                            Manage Order
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class=nav-link asp-area="Customer" asp-controller="Cart" asp-action="Index">
                            @await Component.InvokeAsync("ShoppingCart")
                        </a>
                    </li>
                    <li class="nav-item">

                    </li>

                    <li class="nav-item">

                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Privacy">About Us</a>
                    </li>
                </ul>


				<partial name="_LoginPartial" />

			</div>
		</div>
	</nav>

</header>