/* Reset some default styling */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Main content container */
.container {
    min-height: 100%;
}

/* Footer styles */
footer {
    position: fixed;
    background-color: #192E2F;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    a bottom: 0;
    width: 100%;
}

/* Center the social media icons */
.social-icons {
    display: flex;
    justify-content: center;
}

    .social-icons li {
        margin: 5px 10px;
        list-style:none;
       

    }
.fab {
    color:white;
}

/* Quick Links styling */
.quick-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

    .quick-links li {
        display: inline-block;
        margin: 0 10px;
    }

        .quick-links li a {
            text-decoration: none;
            color:white;
        }

            .quick-links li a:hover {
                color: navajowhite;
            }


.cDropDown
{
    padding-top:10px;
}





      
