

    <div class="about_container">
    <h2style =" color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;">About Us</h2style>
        <div class="about-content">
            <p>Welcome to Book Shop, your one-stop destination for all your book-related needs!</p>
            <p>
                At Book Shop, we offer an extensive collection of books across various genres, from classics to modern
                bestsellers. Our team is passionate about books and strives to provide a seamless shopping experience for
                both our valued customers and avid readers.
            </p>
            <p>
                As an admin, you have the power to add new products to our ever-expanding catalog. Whether it's the latest
                fiction release or an educational textbook, you can easily manage the inventory and keep the shop up to
                date.
            </p>
            <p>
                For our users, we provide a user-friendly interface to browse and purchase their favorite books. Our
                secure payment system ensures a safe and reliable checkout process.
            </p>
            <p>Thank you for choosing Book Shop for all your literary adventures. Happy reading!</p>
        </div>
    </div>

